<title>Configuracion Categorias</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/ca95e6a565.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/styles/st.css">

<div class="container principal-box">
  <h1 class="text-center">Editar Configuracion del Sitio</h1>
  <hr>
  <br>
  <div>
    <label for="max">Numero Trabajos en pag. Principal: </label>
    <input type="number" name="max" id="max">
    <button id="setMax" class="btn btn-success btn-lg">Set</button>
  </div>
    <table id="cat" class="table table-striped table-bordered" style="margin-top: 5px;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Categories (Editelas a gusto)</th>
          </tr>
        </thead>
        <tbody id="cuerpo">
         
        </tbody>
      </table>
      <div class="float-right">
        <button id="confirm" class="btn btn-info btn-lg">Confirm</button>
      </div>

      <script type="text/javascript" src="/scripts/admin_categorias.js"></script>
</div>