<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar E-mail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="row" style="margin-top: 5%;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card border border-secondary">
                <h5 class="card-header bg-dark text-light">Confirmar Correo Electronico</h5>
                <div class="card-body">
                  <h5 class="card-title">Su datos han sido registrados</h5>
                  <p class="card-text">Por favor entre a su correo electronico y valide su cuenta haciendo click en el enlace que le hemos enviado</p>
                  <div class="text-right">
                    <a href="index.ejs" role="button" class="btn btn-primary" style="position: right;">Continuar</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</body>
</html>