<title>Jobs Hub</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!--<link rel="stylesheet" href="../assets/styles/principal.css">-->
<link rel="stylesheet" href="/styles/st.css">

<div class="contenedor principal-box">
    <!--Buscador-->
    <div class="buscador">
        <form>
            <div class="texto form-group mx-sm-3 mb-2">
                <input class="form-control" type="text" placeholder="Live search" />
            </div>
            <button type="submit" class="boton botonsearch btn btn-primary mb-2">Search</button>
        </form>
          <a class="boton btn btn-success" href="/job/post">Post a Job</a>
    </div>
    <!--Buscador-->

    <script type="text/javascript" src="/scripts/jobs.dev01.js"></script>

</div>