<title>Jobs Hub</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!--<link rel="stylesheet" href="../assets/styles/principal.css">-->
<link rel="stylesheet" href="/styles/st.css">

<div class="container contenedor principal-box">
    <!--Buscador-->
    <div class="buscador">
        <form id="search-form">
            <div class="texto form-group mx-sm-3 mb-2">
                <input 
                    name="search" 
                    class="form-control"
                    type="text" 
                    placeholder="Live search"
                    id="search-field"
                />
            </div>
            <button 
                type="submit" 
                id="btn-search" 
                class="boton botonsearch btn btn-primary mb-2"
            >Search</button>
        </form>
        <% if(user.userRol >= 1){ %> 
            <a class="boton btn-post-job btn btn-success" href="/job/post">Post a Job</a>
        <% } %> 
        <% if(user.userRol >= 2){ %> 
            <a class="boton btn-post-job btn btn-info" href="/adm/categoria_adm">Edit Categories</a>
        <% } %> 
        
    </div>
    <!-- /Buscador -->
    
    <div class="jobs-container"></div>
    <script type="text/javascript" src="/scripts/jobs.dev01.js"></script>
    <script type="text/javascript" src="/scripts/search.dev01.js"></script>
</div>