<title>Principal</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!--<link rel="stylesheet" href="../assets/styles/principal.css">-->
<link rel="stylesheet" href="/styles/st.css">

<div class="contenedor principal-box">
    <!--Buscador-->
    <div class="buscador">
        <form>
            <div class="texto form-group mx-sm-3 mb-2">
                <input class="form-control" type="text" placeholder="Live search" />
            </div>
            <button type="submit" class="boton botonsearch btn btn-primary mb-2">Search</button>
        </form>
        <button type="submit" class="boton btn btn-success">Post a Job</button>
    </div>
    <!--Buscador-->

    <!--Design-->
    <h1>Design</h1>
    <!--Tabla de Design-->
    <table class="table tabla-design">
        <thead class="thead-light">
            <tr>
                <th>Location</th>
                <th>Position</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Paris France</td>
                <td>Web Designer</td>
                <td>Sensio Labs</td>
            </tr>
        </tbody>
    </table>
    <!--Tabla de Design-->
    <!--Design-->

    <!--Paginacion-->
    <div class="paginacion">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="boton btn btn-light"><</button>
                <button type="button" class="boton btn btn-light">1</button>
                <button type="button" class="boton btn btn-light">2</button>
                <button type="button" class="boton btn btn-light">3</button>
                <button type="button" class="boton btn btn-light">4</button>
                <button type="button" class="boton btn btn-light">></button>
            </div>
        </div>
    </div>
    <!--Paginacion-->

    <!--Programming-->
    <h1>Programming</h1>
    <!--Tabla de Programming-->
    <table class="table tabla-programming">
        <thead class="thead-light">
            <tr>
                <th>Location</th>
                <th>Position</th>
                <th>Company</th>
            </tr>
        </thead>
        <tr>
            <td>Paris France</td>
            <td>Web Designer</td>
            <td>Sensio Labs</td>
        </tr>
        <tr>
            <td>Paris France</td>
            <td>Web Designer</td>
            <td>Sensio Labs</td>
        </tr>
    </table>
    <!--Tabla de Programming-->
    <!--Programming-->

    <!--Paginacion-->
    <div class="paginacion">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="boton btn btn-light"><</button>
                <button type="button" class="boton btn btn-light">1</button>
                <button type="button" class="boton btn btn-light">2</button>
                <button type="button" class="boton btn btn-light">3</button>
                <button type="button" class="boton btn btn-light">4</button>
                <button type="button" class="boton btn btn-light">></button>
            </div>
        </div>
    </div>
    <!--Paginacion-->
</div>