<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/st.css">
</head>
<body>
    index.ejs
    <script type="text/javascript" src="/scripts/sc.js"></script>
</body>
</html>
=======
<html>
	<head>
		<meta charset="utf-8">
		<title>Principal</title>
		

		<link rel="stylesheet" href="src/assets/styles/principal.css">
	</head>
<body>

	<div class="Principal-box">  
        
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        
		<!--Buscador-->
        
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        
        <input type = "text" placeholder="Live search"/>
        <input type="button" value="Search"/>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        
        
        <!--Boton de post job-->
        
        <input type = "button" value="Post job"/>
        
        
        <!--Design-->
        
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        
        <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Design</h4><hr>
        
        <!--Creando tabla de Design-->
        <table class = "tabla-design" border="1px solid black" width ="600">

  <tr>

    <th>Location</th>

    <th>Position</th>

    <th>Company</th>

  </tr>

  <tr>

    <td>Paris France</td>
    <td>Web Designer</td>
    <td>Sensio Labs</td>

      
  </tr>

  
</table>
        
        <!--Programming-->
        
        <br/>
        <br/>
        <br/>
        
        <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Programming</h4><hr>
        
        <!--Creando tabla de Design-->
        <table class = "tabla-programming" border="1px" width="600">

  <tr>

    <th>Location</th>

    <th>Position</th>

    <th>Company</th>

  </tr>

  <tr>

    <td>Paris France</td>
    <td>Web Designer</td>
    <td>Sensio Labs</td>

  </tr>

  <tr>

    <td>Paris France</td>
    <td>Web Designer</td>
    <td>Sensio Labs</td>
      
  </tr>

</table>
        
        <br/>
        <br/>
        
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <input type="button" value="Show more"/>
        
	</div>

</body>
</html>
>>>>>>> 1ra version
