
		<meta charset="utf-8">
    <title>Trabajo por categoria</title>
		<link rel="stylesheet" href="/styles/work_by_category.css">
    <div class="contenedor work_category-box">  
      <!--Buscador-->
      <div class="buscador">
        <form>
            <div class="texto form-group mx-sm-3 mb-2">
                <input class="form-control" type="text" placeholder="Live search" />
            </div>
            <button type="submit" class="boton botonsearch btn btn-primary mb-2">Search</button>
        </form>
        <button type="submit" class="boton btn btn-success">Post a Job</button>
      </div>
          
      <div class="principal">
        <!--Programming-->
        <h4>Programming</h4><hr>
            
        <!--Creando tabla de programing-->
        <table class="table tabla-programming">
          <thead class="thead-light">
            <tr>
              <th>Location</th>
              <th>Position</th>
              <th>Company</th>
            </tr>
          </thead>
          <tr>
            <td>Paris France</td>
            <td>Web Designer</td>
            <td>Sensio Labs</td>
          </tr>
          <tr>
            <td>Paris France</td>
            <td>Web Designer</td>
            <td>Sensio Labs</td>
          </tr>
        </table>

        <!--conteo del numero de paginas-->
        <div class="conteoPaginas">
          <label class="countjobs" for="Count_Jobs"><span>33</span></label>
          Jobs in this category - Page 
          <label class="countpage" for="Count_Page"><span>1/7</span></label>
        </div>

        <!--Botones de anterior y siguente-->
        <div class="botonespaginacion">
          <button class="btn btn-secondary" type="button">Previous</button>
          <button class="btn btn-secondary" type="button">Next</button>
        </div>
      </div>
    </div>
