
		<meta charset="utf-8">
        <title>Detalle de Trabajo</title>
        <link rel="stylesheet" href="/styles/st.css">
        <link rel="stylesheet" href="/styles/job_details.css">
        
        <div class="contenedor details_job-box">  
            <!--Buscador-->
            <div class="buscador">
                <form>
                    <div class="texto form-group mx-sm-3 mb-2">
                        <input class="form-control" type="text" placeholder="Live search" />
                    </div>
                    <button type="submit" class="boton botonsearch btn btn-primary mb-2">Search</button>
                </form>
                <button type="submit" class="boton botonpost btn btn-success">Post a Job</button>
            </div>

            <div class="principal">

                

                <!--logo-->
                <div class="imagen">
                    <img class="logo" src="../assets/img/logo.png">
                </div>
                
                <!--Compañia-->
                <h1 id="compania">Sensio Labs</h1>
                <!--Ubicacion-->
                <h5 id="ubicacion">Paris, France</h5><hr>
                
                <!--Posicion y Tipo-->
                <h5 id="desc_trabajo">Web Developer - Full Time</h5><hr>
                
                <!--Descripcion del trabajo-->
                <p id="descripcion">En multitud de ocasiones, cuando imparto cursos, cuando necesito texto para reproducir problemas de mis seguidores o en los blogs en los que coopero, etc. Necesito introducir, rápidamente, texto aleatorio de ejemplo, para no tener que estar escribiéndolo. De hecho, si eres seguidor de mi blog, los puedes ver en la mayoría de las imágenes que acompañan a las entradas. Como esta.

                Bien, Word proporciona hasta tres formas de escribir texto aleatorio de ejemplo.

                Las tres funcionan igual, una fórmula, que empieza con el signo igual y dos argumentos, entre paréntesis, no obligatorios, por tanto, se pueden             omitir.</p>
            </div>
        </div>
        <script type="text/javascript" src="/scripts/job_details.js"></script>

