<html>
	<head>
		<meta charset="utf-8">
		<title>Principal</title>
		

		<link rel="stylesheet" href="css/job%20details.css">
        
        
	</head>
<body>

	<div class="details_job-box">  
        
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        
		<!--Buscador-->
        
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        
        <input type = "text" placeholder="Live search"/>
        <input type="button" value="Search"/>
        
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        
        
        <!--Boton de post job-->
        
        <input type = "button" value="Post job"/>
        
        
        <!--logo-->
        <br/>
        <br/>
        <br/>
        <br/>
        <img class="logo" src="img/logo.jpg">
        
        <!--titulo-->
        
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        
        <h1>Sensio Labs</h1>
        <h5>paris, France</h5><hr>
        
        
        
        <!--sub titulo-->
        <h5>Web Developer - full time</h5><hr>
        
        
        <!--cuerpo de los detalles-->
        <p>En multitud de ocasiones, cuando imparto cursos, cuando necesito texto para reproducir problemas de mis seguidores o en los blogs en los que coopero, etc. Necesito introducir, rápidamente, texto aleatorio de ejemplo, para no tener que estar escribiéndolo. De hecho, si eres seguidor de mi blog, los puedes ver en la mayoría de las imágenes que acompañan a las entradas. Como esta.

        Bien, Word proporciona hasta tres formas de escribir texto aleatorio de ejemplo.

        Las tres funcionan igual, una fórmula, que empieza con el signo igual y dos argumentos, entre paréntesis, no obligatorios, por tanto, se pueden             omitir.</p>
        
        
	</div>

</body>
</html>

