<html>
	<head>
		<meta charset="utf-8">
		<title>Work by category</title>
		

		<link rel="stylesheet" href="css/work%20by%20category.css">
	</head>
<body>

	<div class="work_category-box">  
        
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        
		<!--Buscador-->
        
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        
        <input type = "text" placeholder="Live search"/>
        <input type="button" value="Search"/>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        
        
        <!--Boton de post job-->
        
        <input type = "button" value="Post job"/>
        

        
        <!--Programming-->
        
        <br/>
        <br/>
        <br/>
        
        <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Programming</h4><hr>
        
        <!--Creando tabla de programing-->
        <table class = "tabla-programming" border="1px" width="600">

  <tr>

    <th>Location</th>

    <th>Position</th>

    <th>Company</th>

  </tr>

  <tr>

    <td>Paris France</td>
    <td>Web Designer</td>
    <td>Sensio Labs</td>

  </tr>

  <tr>

    <td>Paris France</td>
    <td>Web Designer</td>
    <td>Sensio Labs</td>
      
  </tr>

</table>
        
        <br/>
        <br/>
        <br/>
        <br/>
        
        <!--conteo del numero de paginas-->
        
        <label for="Count_Jobs">33</label>
        Jobs in this category - Page 
        <label for="Count_Page">1/7</label>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    
        
        <!--Botones de anterior y siguente-->
        
        
        <input type="button" value="Previous"/>&nbsp&nbsp|&nbsp&nbsp
        <input type="button" value="Next"/>
        
	</div>

</body>
</html>
