<html>
	<head>
		<meta charset="utf-8">
		<title>Principal</title>
		

		<link rel="stylesheet" href="css/post%20a%20job.css">
	</head>
<body>

	<div class="post_job-box">  
        
        <br/>
        <br/>
        <br/>
        
		<!--Buscador-->
        
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        
        <input type = "text" placeholder="Live search"/>
        <input type="button" value="Search"/>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        
        
        <!--Boton de post job-->
        
        <input type = "button" value="Post job"/>
        
        
        <!--Post a Job-->
        
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        
        <h2> Post a Jobs</h2>
        
        
        <!--Creando las opciones para postear un trabajo-->
        
        
        <label>Category</label> aqui va una lista despligable
        <br>
        <label>Type</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <input type="radio" value="full time"/>Full time
                            <input type="radio" value="part time"/>part time
                            <input type="radio" value="freelance"/>freelance
        
        <br>
        <label>Company</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input type="textbox" value=""/>
        <br>
        <label>Logo</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input type="textbox" value=""/>
        <br>
        <label>URL</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input type="textbox" value=""/>
        <br>
        <label>position</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input type="textbox" value=""/>
        <br>
        <label>Location</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <input type="text" value=""/>
        <br>
        <label>Description</label> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <textarea name="comentarios" rows="10" cols="40">Escribe aquí tus comentarios</textarea>
        
        
	</div>

</body>
</html>