<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/icono.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/global.css">
</head>
<body>
    <div style="min-height:90vh !important;">
        <%- body %>
    </div>
    <footer class="page-footer blue darken-2" style="min-height:10vh !important;">
      <div class="footer-copyright">
        <div class="container">
        © 2020 Programaci&oacute;n III - Jobs Hub
        <a class="grey-text text-lighten-4 right" target="blank" href="https://github.com/k0o/P3-Web">Github</a>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>